//  PlantPro Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Header
//	 2. Footer
//	 3. Content
//	 4. Components
// 	 5. Other

html {
	//@media only screen and (min-width: 1280px) {
		zoom: 0.70;
		-ms-zoom: 0.70;
	//}

	//@media only screen and (min-width: 1860px) {
	//	zoom: 1.0;
	//	-ms-zoom: 1.0;
	//}

	&.tablet {
		zoom: 1.0;
		-ms-zoom: 1.0;
	}
}

html, body {
	height: 100%;
}

body {
	@include font-size(14px);
	@include line-height(18px);
	overflow-y: scroll;
}

canvas {
	width: 100% !important;
    max-width: 906px;
    height: auto !important;
}

.main-container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;

	//display: table;

    .inner-main-container {
    	//display: table-cell;
    	//vertical-align: middle;
    }

	.push {
		height: 70px;
	}
}


// 1. Header
// ---------

header {
	width: 100%;
	//width: rem-calc(1860px);
	height: 80px;
	background: $blue;


	// Logo
	.logo {
		float: left;
		width: 200px;
		margin: 15px 0 0 15px;
	}

	// Weather
	.weather {
		float: right;
		margin: 12px 20px 0 0;
		color: $white;
		text-align: right;

		h3 {
			margin: 0;
			@include font-size(50px);
			line-height: 40px;

			span {
				@include font-size(25px);
				position: relative;
				top: -8px;
			}

			#temp {
				@include font-size(50px);
				top: 0;
			}

			sub {
				@include font-size(15px);
				position: relative;
				top: -1px;
			}
		}
	}
}


// 2. Footer
// ---------

footer {
	width: 100%;
	//width: rem-calc(1860px);
	height: 70px;
	background: lighten(saturate(adjust-hue($black, 213.3333), 31.0345), 11.3725);
	position: relative;
	//position: fixed;
	//left: 0;
	//bottom: 0;
	//z-index: 3;

	// Logo
	.logo {
		float: left;
		width: 30px;
		position: absolute;
		top: 15px;
		left: 15px;
	}

	p {
		margin: 0;
		color: $white;
		@include font-size(18px);
		line-height: 70px;
		position: absolute;
		top: 0;
		left: 85px;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 15px 0 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 rem-calc(3px);

			a {
				display: inline-block;
				width: 60px;
				height: 60px;
				@include border-radius(3px);
				border: 1px solid lighten($black, 10%);
				background: $grey;
				color: $white;
				@include font-size(35px);
				line-height: 60px;
				text-align: center;

				&:hover {
					color: $white;
					background: $blue;
				}
			}
		}
	}

	.other {
		position: absolute;
		right: 30px;
		top: 0;

		.units, .tooltips, .help {
			display: inline-block;
			margin-left: rem-calc(60px);
			color: $white;
			@include font-size(18px);
			line-height: 70px;

			span {
				color: $blue;

				&.fa-question {
					color: $white;
					@include font-size(40px);
					position: relative;
					top: 8px;
				}
			}
		}
	}
}


// 3. Content
// ---------

#content {
	//width: 100%;
	width: rem-calc(1800px);
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	//min-width: rem-calc(1860px);
	padding: 30px 15px;

	&.normal {
		width: rem-calc(1640px);
	}

	// Tablet
	@media screen and #{breakpoint(sm)} and #{breakpoint(md down)} {
		
	}
}



// 4. Components
// ---------


// Title Labels

.title-label {
	padding: 0 rem-calc(15);
	@include border-top-radius(10px);
	background: $dark-blue;
	text-align: center;
	position: relative;

	&.grey {
		background: $grey;

		&.gradient-grey {
			background: $gradient-grey-top;
			background: -moz-linear-gradient(top,  $gradient-grey-top 0%, $gradient-grey-bottom 100%);
			background: -webkit-linear-gradient(top,  $gradient-grey-top 0%,$gradient-grey-bottom 100%);
			background: linear-gradient(to bottom,  $gradient-grey-top 0%,$gradient-grey-bottom 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-grey-top', endColorstr='$gradient-grey-bottom',GradientType=0 );
		}
	}

	&.orange {
		h2 {
			color: $orange;
		}
	}

	&.light-blue {
		background: $blue;
	}

	&.border {
		border: 1px solid lighten($black, 20%);
		@include box-shadow(-1px, 2px, 2px, -1px, rgba(0, 0, 0, 0.5));
	}

	&.left {
		text-align: left;
	}

	.icon {
		float: right;
		@include line-height(50px);
	}
}

// Data Block

.block {
	margin-bottom: rem-calc(20);
	@include border-radius(10px);
	background: $grey;
	//@include box-shadow(-1px, 5px, 5px, -1px, rgba(0, 0, 0, 0.5));
	position: relative;
	//overflow: hidden;

	&.short {
		height: 180px;
	}

	&.medium {
		height: 270px;
	}

	&.long {
		height: 470px;
	}

	&.large {
		height: 560px;
	}

	&.no-shadow {
		@include box-shadow(0, 0, 0, 0);
	}

	&.key-line {
		border: 1px solid lighten($black, 90%);
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;

		.title-label {
			//margin: -1px -1px;
		}
	}

	&.no-background {
		background: none;
	}

	&.solid-blue {
		padding: rem-calc(10px);
		background: $blue;
		border-radius: 0;
		position: relative;
		top: -10px;
		z-index: 1;

		.table-data {
			.table-data-cell {
				color: $white !important;
				@include font-size(16px);
			}
		}

		.square {
			height: 50px;
		}
	}

	&:last-child {

		// Large Desktop
		@include breakpoint(lg) {
			margin-bottom: 0;
		}
	}

	.inner-block {
		width: 100%;
		height: 100%;
		overflow: hidden;
		//position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: relative;

		.bottom {
			width: 100%;
			padding: rem-calc(15px) rem-calc(10px) rem-calc(10px);
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.block-content {
			padding: rem-calc(15px) rem-calc(10px);

			&:before, &:after {
				display: table;
				content: '';
			}

			&:after {
				clear: both;
			}


			&.no-padding {
				padding: 0;
			}

			&.no-padding-top {
				padding-top: 0;
			}

			&.no-padding-bottom {
				padding-bottom: 0;
			}
			
			.inner-block-content {
				padding: rem-calc(10px);
				@include border-radius(3px);
				border: 1px solid lighten($black, 10%);
				background: $dark-grey;

				&.left {
					float: left;
					width: 80px;

					.w-button {
						padding: rem-calc(5px) 0;
					}
				}
			}


			// Text

			.text {
				margin: 0 0 rem-calc(10px);
				text-align: center;

				h3 {
					margin: 0 0 rem-calc(5px);
					color: $white;
					@include font-size(50px);
					@include line-height(50px);

					span {
						@include font-size(30px);
						@include line-height(18px);

						&.fa {
							margin: 0 rem-calc(5px);
							@include font-size(60px);
						}
					}

					small {
						@include font-size(30px);
					}
				}

				h4 {
					margin: 0;
					color: $blue;
					@include font-size(20px);
				}

				&:last-child {
					margin: rem-calc(10px) 0 0;
				}

				&.half {
					margin: 0;

					.first {
						float: left;
						width: 35%;
						padding-top: rem-calc(15px);
						padding-bottom: rem-calc(10px);
					}

					.second {
						float: right;
						width: 60%;
						padding-top: rem-calc(15px);
						padding-bottom: rem-calc(10px);
					}

					&.blue {
						h3, h4 {
							color: $blue;
						}
					}

					&.orange {
						h3, h4 {
							color: $orange;
						}
					}

					.vert-divider {
						float: left;
						display: block;
						width: 2px;
						height: 108px;
						margin: 0 0 0 rem-calc(5px);
						background: lighten($black, 30%);
					}
				}

				&.right {
					float: right;
					width: 200px;
					text-align: left;

					.alert-text {
						padding: rem-calc(19px) 0;
						border-bottom: 1px solid darken($white, 50%);
						color: $white;
						@include font-size(16px);

						&:last-child {
							border: 0;
						}

						&.warning {
							color: $orange;
						}
					}
				}
			}


			// Divider
			.divider {
				display: block;
				//width: 100%;
				height: 2px;
				margin: 0 rem-calc(-10px);
				background: lighten($black, 30%);
			}


			// Image Block

			.image-block {
				width: 400px;
				margin: 0 auto;
				padding: 0 25px 25px;

				&.large {
					width: 696px;
				}
			}


			// Details
			.details {
				width: 100%;
				margin: 0;
				padding: rem-calc(15px);
				background: $grey;
				position: absolute;
				bottom: 0;
				left: 0;

				h3 {
					color: $white;
					@include font-size(20px);
					text-transform: uppercase;
				}

				.table-data {
					width: 50%;

					.table-data-row {
						.table-data-cell {
							color: lighten($black, 20%);
						}
					}
				}

				a {
					color: $white;
					@include font-size(35px);
					position: absolute;
					bottom: rem-calc(15px);
					right: rem-calc(15px);
				}
			}


			&.alternate {
				.text {
					h4 {
						color: lighten($black, 20%);
					}
				}

				.divider {
					background: darken($light-grey, 10%);
				}

				.table-data {
					.table-data-row {
						.table-data-cell {
							&:first-child {
								color: lighten($black, 20%);
							}
						}
					}
				}
			}
		}
	}


	&.standard {
		@include border-radius(3px);
		border: 1px solid lighten($black, 10%);
		background: $dark-grey;

		.block-content {
			padding: rem-calc(10px) rem-calc(10px);
		}
	}
	

	// Colour variations

	&.blue {
		background: $blue;

		// Title label override
		.title-label {
			background: $med-blue;
		}
	}

	&.white {
		background: $white;
	}

	&.light-blue {
		padding: rem-calc(10px);
		background: $light-blue;

		&.no-padding {
			padding: 0;
		}
	}

	&.light-grey {
		background: $light-grey;

		// Title label override
		.title-label {
			background: $dark-grey;
		}
	}

	&.med-grey {
		background: $grey;
	}
}


// Slider

.carousel {
	margin-bottom: rem-calc(45px);
	position: relative;

	.caption {
		position: absolute;
		left: 0;
		top: -8px;

		h3 {
			margin: 0;
			color: $white;
			@include font-size(22px);
		}
	}

	.pager {
		position: relative;
		padding: rem-calc(30px) 0 0;
		text-align: center;

		.cycle-pager-active {
			&:before {
				content: '\f192';
				font-family: 'FontAwesome';
			}
		}

		.pager-counter {
			margin-top: 3px;
			color: lighten($black, 25%);
			@include font-size(18px);
			cursor: pointer;

			.cycle-pager-active {
				color: $white;
			}

			span {
				margin: 0 rem-calc(6px);
			}
		}

		.next, .prev {
			color: lighten($black, 25%);
			@include font-size(26px);
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 30px;
		}

		.prev {
			right: auto;
			left: 0;
		}
	}
}



// Arc

.arc-container {
	width: 100%;
	height: 120px;
	margin: 0 auto;
	overflow: hidden;

	.jqx-knob {
		margin-top: 0;
		margin-left: -72px;
	}

	&.smaller {
		height: 95px;

		.jqx-knob {
			margin-top: 0;
			margin-left: -35px;
		}
	}

	thead, tbody, tfoot {
		border: 0;
		background: none;

		th, td {
			padding: 0;
		}

		tr {
			&:nth-child(even) {
				background: none;
			}
		}
	}

	

	.chartContainer {
		circle {
			display: none !important;
		}
	}
}


// 5. Other
// ---------


.dial {
	width: 451px;
	height: 451px;
	margin: rem-calc(30px) auto;
	background: url('../images/master-control.png') no-repeat 0 0;
	background-size: 451px auto;
	position: relative;

	.inner {
		width: 451px;
		height: 451px;
		background: url('../images/master-control.png') no-repeat 0 0;
		background-size: 451px auto;
		position: absolute;
		left: 0;
		top: 0;

		&.hide {
			display: none;
		}

		&.auto {
			background-position: 0 -1804px;
		}

		&.heat {
			background-position: 0 -2255px;
		}

		&.power {
			background-position: 0 -451px;
		}

		&.unlock {
			background-position: 0 -902px;
		}

		&.cool {
			background-position: 0 -1353px;
		}
	}

	&.small {
		width: 250px;
		height: 250px;
		margin: rem-calc(19px) auto;
		background: url('../images/auto-manual-control.png') no-repeat 0 0;
		background-size: 250px auto;
		position: relative;

		.inner {
			width: 250px;
			height: 250px;
			background: url('../images/auto-manual-control.png') no-repeat 0 0;
			background-size: 250px auto;
			position: absolute;
			left: 0;
			top: 0;

			&.hide {
				display: none;
			}

			&.auto {
				background-position: 0 -250px;
			}

			&.manual {
				background-position: 0 -500px;
			}
		}

		.inner-text {
			width: 84px;
			height: 84px;
			margin: -42px 0 0 -42px;
			line-height: 84px;
		}
	}

	.inner-text {
		width: 180px;
		height: 120px;
		margin: -60px 0 0 -90px;
		text-align: center;
		color: $white;
		position: absolute;
		top: 50%;
		left: 50%;

		.status {
			@include font-size(18px);
		}

		.weather {
			h3 {
				margin: 0;
				@include font-size(50px);

				span {
					@include font-size(25px);
					position: relative;
					top: -8px;
				}

				#temp {
					@include font-size(50px);
					position: relative;
					top: 0;
				}

				sub {
					@include font-size(15px);
					position: relative;
					top: -1px;
				}
			}
		}
	}
}


// Clear

&.clear {
	&:before, &:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}
}


// Spacer

.spacer {
	@include spacer(100%, 60px 0 0 0);
}


// Scroll

.scroll {
	min-height: 200px;
	overflow-y: scroll;

	&.spacer {
		@include spacer(100%, 60px);
	}

	// Remove Margin on Table if scroll is present
	.stack {
		margin-bottom: 0;
	}
}


// Table Data
.table-data {
	display: table;
	width: 100%;

	&.padding-top {
		padding-top: rem-calc(10px);
	}

	&.padding-bottom {
		padding-bottom: rem-calc(10px);
	}

	.table-data-row {
		display: table-row;

		.table-data-cell {
			display: table-cell;
			padding: rem-calc(2px) 0;
			color: $white;
			@include font-size(18px);
			text-align: right;

			&:first-child {
				color: $blue;
				text-align: left;
			}
		}
	}

	&.alternate {
		.table-data-row {
			.table-data-cell {
				&:first-child {
					color: $white;
				}
			}
		}
	}
}


// Status Bar
.status-bar {
	display: table;
	width: 100%;
	height: 60px;
	border-spacing: 0;
	border-collapse: collapse;
	background: $dark-grey;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	&>div {
		display: table-cell;
		width: 25%;
		height: 60px;
		color: $white;
		@include font-size(18px);
		text-align: center;
		vertical-align: middle;

		span {
			display: block;
			margin-top: rem-calc(3px);
			@include font-size(16px);
		}

		&.alarm {
			color: $orange;
		}
	}

	&:before, &:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}

	&.status-bar-title {
		width: 270px;
		height: 50px;
		background: none;
		position: absolute;
		right: 20px;
		top: 0;

		&>div {
			height: 50px;
		}
	}
}


// Graphs // Table
.cop-graph, .pro-graph {
	height: 34px;
	background: lighten($grey, 10%);

	span {
		float: left;
		display: inline-block;
		width: 30px;
		margin: 0 10px;
		line-height: 34px;
	}

	.bar {
		float: left;
		display: inline-block;
		width: 160px;
		height: 18px;
		border: 2px solid #4b5056;
		background: #2f343c;
		margin: 8px 0 0;

		.inner-bar {
			display: block;
			height: 100%;
			border-right: 2px solid #4b5056;
			background: $blue;
		}
	}
}

.pro-graph {
	background: none;

	span {
		color: lighten($black, 30%);
	}

	.bar {
		background: $white;

		.inner-bar {
			background: $light-blue;
		}
	}
}


.balance-bar {
	.inner-bar {
		float: left;
		width: 16px;
		height: 30px;
		margin: 0 1px;
		border: 2px solid #4b5056;
		background: lighten($black, 38%);

		&.light-blue {
			background: $light-blue;
		}

		&.blue {
			background: $blue;
		}

		&.orange {
			background: $orange;
		}

		&.red {
			background: $red;
		}
	}
}


.bargraph-bar {
	width: 270px;
	height: 80px;
	margin: 15px auto;
	background: #383c43;
	position: relative;

	.inner-bargraph-bar {
		height: 80px;
		background: #42b8dc;
		position: absolute;
		left: 0;
		top: 0;
	}

	&.reverse {
		background: #284a63;
	}
}


.weekday-graph-component {
	display: table;
	width: 100%;
	padding: rem-calc(30px) rem-calc(15px) rem-calc(15px);

	.weekday-day-heading-row {
		display: table-row;

		.weekday-day-col {
			display: table-cell;
			width: 12.5%;
			padding-bottom: rem-calc(10px);
			color: $white;
			@include font-size(16px);
			text-align: center;
		}
	}

	.weekday-day-data-row {
		display: table-row;

		.weekday-day-col {
			display: table-cell;
			width: 12.5%;
			padding: 0 rem-calc(10px);
			vertical-align: top;

			.time {
				height: 30px;
				padding-bottom: rem-calc(8px);
				color: $white;
				@include font-size(16px);
				text-align: right;

				&:first-child {
					margin-top: rem-calc(19px);
				}
			}

			.bar {
				width: 100%;
				height: 30px;
				border: 1px solid $blue;
				background: $white;

				&.dark-green {
					background: $dark-green;
				}

				&.green {
					background: $green;
				}
			}
		}
	}
}

.weekday-footer {
	display: table;
	width: 100%;
	padding: 0 rem-calc(15px);

	.weekday-col-40 {
		display: table-cell;
		width: 37.5%;
		padding: 0 rem-calc(10px);
		vertical-align: top;

		.weekday-col-text {
			float: left;
			width: 35%;
			padding-right: rem-calc(20px);
			color: $white;
			@include font-size(16px);
			@include line-height(45px);
			text-align: right;
		}

		.weekday-col-buttons {
			float: left;
			width: 65%;

			.height {
				height: 45px;
			}

			.button-container {
				float: left;
				width: 75%;
				padding: rem-calc(2px) rem-calc(2px);
				@include border-radius(5px);
				border: 1px solid darken($dark-grey, 10%);
				background: $dark-grey;

				.text {
					float: left;
					width: 60%;
					color: $white;
					@include font-size(22px);
					@include line-height(38px);
					text-align: center;
				}
			}
		}
	}

	.weekday-col-20 {
		display: table-cell;
		width: 25%;
		padding: 0 rem-calc(10px);
		vertical-align: top;

		.weekday-col-text {
			float: left;
			width: 55%;
			padding-right: rem-calc(20px);
			color: $white;
			@include font-size(16px);
			@include line-height(45px);
			text-align: right;
		}

		.weekday-col-buttons {
			float: left;
			width: 45%;

			.height {
				height: 45px;
			}
		}
	}
}

.divider-large {
	display: block;
	height: 4px;
	margin: rem-calc(35px) rem-calc(25px);
	background: $dark-grey;
}


.selected-component {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0 rem-calc(30px) rem-calc(15px);

	.selected-header {
		display: table-row;

		.selected-col {
			display: table-cell;
			width: 70px !important;
			padding: 0 rem-calc(15px) rem-calc(10px);
			color: $white;
			@include font-size(14px);
			text-align: center;
			vertical-align: middle;

			&.blank {
				width: 120px !important;
			}

			&.left {
				text-align: left;
			}

			span {
				display: block;
				color: $blue;
			}
		}
	}
}

.selected-container {
	height: 270px;
	margin: 0 rem-calc(15px);
	padding: 0 rem-calc(15px) rem-calc(40px);
	background: $white;
	overflow-y: scroll;

	.selected-body-container {
		display: table;
		table-layout: fixed;
		width: 100%;
		//padding: 0 rem-calc(15px);

		.selected-body {
			display: table-row;
			
			.selected-col {
				display: table-cell;
				width: 70px;
				border-bottom: 1px solid lighten($grey, 50%);
				padding: rem-calc(10px) rem-calc(10px);
				text-align: center;
				vertical-align: middle;

				&.blank {
					width: 120px;
				}

				.number {
					padding: rem-calc(10px) 0;
					@include border-radius(3px);
					background: $dark-grey;
					color: $white;
					font-weight: bold;
					@include font-size(18px);
				}

				.box {
					width: 38px;
					height: 38px;
					margin: 0 auto;
					border: 1px solid lighten($black, 50%);
					@include border-radius(3px);
					background: $light-grey;
					color: $white;
					@include font-size(22px);
					@include line-height(38px);

					&.tick {
						background: $grey;
						border: 1px solid lighten($black, 10%);
					}

					&.gradient-grey {
						background: $gradient-grey-top;
						background: -moz-linear-gradient(top,  $gradient-grey-top 0%, $gradient-grey-bottom 100%);
						background: -webkit-linear-gradient(top,  $gradient-grey-top 0%,$gradient-grey-bottom 100%);
						background: linear-gradient(to bottom,  $gradient-grey-top 0%,$gradient-grey-bottom 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-grey-top', endColorstr='$gradient-grey-bottom',GradientType=0 );
					}
				}

				.blank-box {
					width: 100%;
					height: 38px;
					border: 1px solid lighten($black, 50%);
					@include border-radius(3px);
					background: $light-grey;
				}
			}
		}
	}
}

.selected-footer-container {
	margin: rem-calc(15px) rem-calc(15px) 0;
	padding: 0 rem-calc(15px) rem-calc(40px);

	.selected-footer {
		display: table;
		table-layout: fixed;
		width: 100%;
		//padding: 0 rem-calc(30px);

		.selected-body {
			display: table-row;

			.selected-col {
				display: table-cell;
				width: 71px;
				padding: rem-calc(10px) rem-calc(10px);
				text-align: center;
				vertical-align: middle;

				&.blank {
					width: 192px;
					color: $white;
					@include font-size(14px);
				}

				&.wide {
					width: 121px;
				}

				.box {
					width: 38px;
					height: 38px;
					margin: 0 auto;
					border: 1px solid lighten($black, 50%);
					@include border-radius(3px);
					background: $light-grey;
					color: $white;
					@include font-size(22px);
					@include line-height(38px);

					&.tick {
						background: $grey;
						border: 1px solid lighten($black, 10%);
					}

					&.gradient-grey {
						background: $gradient-grey-top;
						background: -moz-linear-gradient(top,  $gradient-grey-top 0%, $gradient-grey-bottom 100%);
						background: -webkit-linear-gradient(top,  $gradient-grey-top 0%,$gradient-grey-bottom 100%);
						background: linear-gradient(to bottom,  $gradient-grey-top 0%,$gradient-grey-bottom 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-grey-top', endColorstr='$gradient-grey-bottom',GradientType=0 );
					}
				}

				.blank-box {
					width: 100%;
					height: 38px;
					@include border-radius(3px);
					background: $dark-grey;
					border: 1px solid lighten($black, 10%);
				}
			}
		}
	}
}


.js-off-canvas-exit {
	z-index: 10;
}