//  PlantPro Grid
//  -----------------------------
//
//  Table of Contents:
//
//   1. Grid


// 1. Grid
// ---------


.grid-row {
	max-width: rem-calc(1600);
	margin: 0 auto;

	&.grid-full {
		max-width: 100%;
	}

	&.spacer {
		@include spacer(100%, 20px);
	}

	.grid-row-container {
		margin-left: rem-calc(-8);
		margin-right: rem-calc(-8);
	}

	.grid-col {
		float: left;
		padding-left: rem-calc(8);
		padding-right: rem-calc(8);

		&.no-padding {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.grid-col-16 {

		@include breakpoint(md) {
			width: 16.66666%;
		}
	}

	.grid-col-20 {

		@include breakpoint(md) {
			width: 20%;
		}
	}

	.grid-col-25 {

		@include breakpoint(md) {
			width: 25%;
		}
	}

	.grid-col-33 {

		@include breakpoint(md) {
			width: 33.333333%;
		}
	}

	.grid-col-40 {

		@include breakpoint(md) {
			width: 40%;
		}
	}

	.grid-col-50 {

		@include breakpoint(md) {
			width: 50%;
		}
	}

	.grid-col-60 {

		@include breakpoint(md) {
			width: 60%;
		}
	}

	.grid-col-66 {

		@include breakpoint(md) {
			width: 66.666666%;
		}
	}

	.grid-col-75 {

		@include breakpoint(md) {
			width: 75%;
		}
	}

	.grid-col-full {
		width: 100%;
	}
}



.row {
	max-width: rem-calc(1600);

	&.spacer {
		@include spacer(100%, 20px);
	}

	&.columns-6 {
		.grid-column {
			@include breakpoint(md) {
				width: 16.666666%;

				&.large-column {
					width: 33.333333%;
				}

				&.larger-column {
					width: 66.666666%
				}
			}
		}
	}

	.grid-column {
		width: 100%;

		@include breakpoint(md) {
			width: 20%;

			&.large-column {
				width: 40%;
			}

			&.larger-column {

			}

			&.half {
				width: 50%;
			}

			&.full {
				width: 100%;
			}

			&.no-padding {
				padding: 0;
			}
		}

		&:before, &:after {
			display: table;
			content: '';
		}

		&:after {
			clear: both;
		}
	}
}