
.w-button {
	display: inline-block;
	padding: rem-calc(10) 0;
	@include border-radius(3px);
	border: 1px solid lighten($black, 10%);
	background: $grey;
	color: $white;
	@include font-size(16px);
	text-align: center;
	position: relative;
	z-index: 2;
	cursor: pointer;

	&.gradient-grey {
		background: $gradient-grey-top;
		background: -moz-linear-gradient(top,  $gradient-grey-top 0%, $gradient-grey-bottom 100%);
		background: -webkit-linear-gradient(top,  $gradient-grey-top 0%,$gradient-grey-bottom 100%);
		background: linear-gradient(to bottom,  $gradient-grey-top 0%,$gradient-grey-bottom 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-grey-top', endColorstr='$gradient-grey-bottom',GradientType=0 );
	}

	&.gradient-blue {
		background: $gradient-blue-top;
		background: -moz-linear-gradient(top,  $gradient-blue-top 0%, $gradient-blue-bottom 100%);
		background: -webkit-linear-gradient(top,  $gradient-blue-top 0%,$gradient-blue-bottom 100%);
		background: linear-gradient(to bottom,  $gradient-blue-top 0%,$gradient-blue-bottom 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-blue-top', endColorstr='$gradient-blue-bottom',GradientType=0 );
	}

	&.gradient-bronze {
		background: $gradient-bronze-top;
		background: -moz-linear-gradient(top,  $gradient-bronze-top 0%, $gradient-bronze-bottom 100%);
		background: -webkit-linear-gradient(top,  $gradient-bronze-top 0%,$gradient-bronze-bottom 100%);
		background: linear-gradient(to bottom,  $gradient-bronze-top 0%,$gradient-bronze-bottom 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-bronze-top', endColorstr='$gradient-bronze-bottom',GradientType=0 );
	}

	&.small {
		@include font-size(12px);
	}

	&.full {
		display: block;
		width: 100%;
	}

	&.half {
		width: 50%;
	}

	&.quarter {
		width: 25%;
	}

	&.left {
		float: left;
	}

	.title {
		color: $blue;
		position: relative;
		top: -10px;
	}

	&.warning {
		color: $orange;
	}

	&.padding {
		padding: rem-calc(10px);
	}

	.counter {
		width: 120px;
		margin: 0 0 0 -60px;
		padding: rem-calc(2px) rem-calc(10px);
		@include border-radius(5px);
		border: 1px solid darken($dark-grey, 10%);
		background: $dark-grey;
		@include font-size(14px);
		text-align: center;
		position: absolute;
		left: 50%;
		bottom: 3px;

		&.small {
			width: 80px;
			margin-left: -40px;
		}
	}

	&.icon {
		display: block;

		&.center {
			max-width: 25px;
			margin: 0 auto 5px;
		}

		span {
			display: block;
			@include font-size(20px);
		}
	}

	&.grey-icon {
		.fa {
			float: left;
			margin-top: -17px;
			color: darken($white, 50%);
			@include font-size(35px);
			position: absolute;
			left: 10px;
			top: 50%;
		}
	}

	&.height {
		height: 55px;
	}

	&.margin {
		margin-bottom: 5px;
	}

	&.blue {
		background: $blue;
	}

	&.bronze {
		background: $bronze;
	}

	&.square {
		height: 58px;
	}
}

.w-button-group {
	margin-left: rem-calc(-5px);
	margin-right: rem-calc(-5px);

	&.margin {
		margin-bottom: rem-calc(8px);
	}

	&.less-margin {
		margin-left: rem-calc(-2px);
		margin-right: rem-calc(-2px);
	}

	&.no-margin {
		margin-bottom: 0;
	}

	.w-button-half {
		float: left;
		width: 50%;
		padding-left: rem-calc(5px);
		padding-right: rem-calc(5px);

		&.no-padding {
			padding: 0;
		}
	}

	.w-button-third {
		float: left;
		width: 33.333333%;
		padding-left: rem-calc(5px);
		padding-right: rem-calc(5px);
	}

	.w-button-quarter {
		float: left;
		width: 25%;
		padding-left: rem-calc(5px);
		padding-right: rem-calc(5px);

		&.no-float {
			float: none;
			display: block;
			width: 100%;
			margin-bottom: rem-calc(8px);

			&:last-child {
				margin: 0;
			}
		}

		&.less-padding {
			width: 20%;
			padding-left: rem-calc(2px);
			padding-right: rem-calc(2px);
		}

		&.middle {
			
		}
	}
}