
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin line-height($size) {
    line-height: $size;
    line-height: calculateRem($size);
}


@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
  	border-radius: $radius;
  	background-clip: padding-box;
}


@mixin border-top-radius($radius) {
  	-webkit-border-top-right-radius: $radius;
  	border-top-right-radius: $radius;
   	-webkit-border-top-left-radius: $radius;
   	border-top-left-radius: $radius;
   	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  	-webkit-border-bottom-right-radius: $radius;
  	border-bottom-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  	-webkit-border-bottom-right-radius: $radius;
  	border-bottom-right-radius: $radius;
   	-webkit-border-bottom-left-radius: $radius;
   	border-bottom-left-radius: $radius;
   	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  	-webkit-border-bottom-left-radius: $radius;
  	border-bottom-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}


@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}


@mixin spacer($width, $margin: 0) {
    width: $width;
    margin-top: $margin;
}