nav {
	width: 100%;
	//width: rem-calc(1860px);
	height: 60px;
	background: lighten(saturate(adjust-hue($black, 213.3333), 31.0345), 11.3725);

	.menu {
		float: left;
		display: inline-block;
		width: 60px;
		height: 60px;
		color: $white;
		@include font-size(24px);
		@include line-height(60px);
		text-align: center;
	}

	.breadcrumb {
		float: left;
		display: inline-block;
		height: 60px;
		margin: 0 0 0 rem-calc(50px);
		padding: 0;

		p {
			margin: 0;
			padding: 0;
			color: $white;
			@include font-size(18px);
			@include line-height(60px);

			a {
				color: $blue;
			}
		}
	}

	.logged-in {
		float: right;
		display: inline-block;
		color: $white;
		@include font-size(18px);
		line-height: 60px;

		span {
			color: lighten($black, 30%);
		}

		a {
			display: inline-block;
			margin-left: rem-calc(10px);
			padding: 0 rem-calc(20px);
			background: lighten($black, 20%);
			color: $blue;
		}
	}
}


// Off Canvas Menu
.off-canvas-wrapper {
	//width: rem-calc(1860px);
	height: 100%;
	overflow-x: initial;

	.off-canvas-wrapper-inner {
		height: 100%;
	}
}

.off-canvas-content {
	//width: rem-calc(1860px);
	height: 100%;
	background: $white;
	box-shadow: none;
}

.off-canvas.position-left {
	height: 100%;
	background: $blue;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid lighten($blue, 10%);

			a {
				display: block;
				padding: 14px 15px 12px;
				color: $white;

				&:focus {
					outline: none;
				}
			}
		}
	}
}

.js-off-canvas-exit {
	background: rgba($black, 0.50);
}