

.stack {
	width: 100%;

	thead {
		border: 0;
		background: none;

		th {
			padding: 5px 15px;
			text-align: center;
		}
	}

	tbody {
		border: 0;

		td {
			padding: 15px;
			background: lighten($grey, 20%);
			border-bottom: 1px solid $white;
			color: $white;
			@include font-size(18px);
			text-align: center;

			&.no-padding {
				padding: 0;
				position: relative;

				.full-height {
					width: 120px;

					.w-button {
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}

			&.no-center {
				text-align: left;
			}

			@include breakpoint(sm) {
				border-right: 1px solid $white;
				border-bottom: 1px solid $white;

				&:last-child {
					border-right: 0;
				}
			}

			&.info {
				a {
					color: $white;
					@include font-size(26px);
				}
			}
		}
	}
}