h1 {
	
}

h2 {
	margin: 0;
	color: $white;
	font-weight: normal;
	@include font-size(18px);
	@include line-height(50px);

	@include breakpoint(lg) {
		@include font-size(20px);
		@include line-height(50px);
	}

	&.bold {
		font-weight: 700;
	}
}