// 1. Colours
// ----------

$white: 					#fff;
$black: 					#000;
$light-grey: 				#a5a7ab;
$grey: 						#53595f;
$dark-grey: 				#383c43;
$blue: 						#409ec0;
$light-blue: 				#a9cddd;
$med-blue: 					#0a2239;
$dark-blue: 				#141c26;
$orange: 					#f99531;
$bronze: 					#926434;
$red: 						#ff0000;


$dark-green: 				#5dc93b;
$green: 					#98e793;


$gradient-grey-top: 		#727980;
$gradient-grey-bottom: 		#53595f;


$gradient-blue-top: 		#409ec0;
$gradient-blue-bottom: 		#3888a5;

$gradient-bronze-top: 		#a9753d;
$gradient-bronze-bottom: 	#926434;


// 2. Fonts
// ----------

$font-family: 				'';
$font-size: 				'';
$line-height: 				'';


// 3. Breakpoints
// ----------

$breakpoints: (
	xs : 0,
	sm : 768px,
	md : 992px,
	lg : 1200px
);
$breakpoint-classes: 		(xs sm md lg);