.widgetDemo {
  background-color: #eeeeff;
}

.widgetDemo p {
  font-family: 'footerFont';
}

.widgetDemo h1, .widgetDemo h2, .widgetDemo h3 {
  font-family: 'headerLink'
}

.widgetDemo .virtues {
  background-color: #ffffff;
  padding: 5px 15px;
  border: 3px dotted black;
  border-radius: 10px;
}



.PlantPROWidget {
  margin: 0.5em;
}

/* box surrounding the buttons */
.PlantPROWidget-button-container {
  display: inline-block;
  padding: 1em;
  box-shadow: 0 0 3px rgba(100,0,0,0.15) inset, 0 0 6px rgba(0,0,0,0.5) inset;
}

/* buttons */
.PlantPROWidget-button {
  border: none;
  padding: 1em;
  margin: 0.5em;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  background-color: #eee;
  outline: none;
}

/* button with mouse hovering over it */
.PlantPROWidget-button:hover {
  background-color: #fdd;
}

/* button being clicked */
.PlantPROWidget-button:active {
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

/* button that is currently selected */
.PlantPROWidget-button.active {
  background-color: #fdd;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 5px rgba(0,0,40,0.3) inset;
}

