{{!this is the template for PlantPROWidget.}}
{{!it expects an array of strings and assembles them into buttons.}}

<div class="PlantPROWidget">
  <div class="PlantPROWidget-header">
    <p>
      {{ titleText }}
    </p>
    <p>
      <span class="PlantPROWidget-selected-slot-text">{{ selectedSlotText }}</span>
      <span class="PlantPROWidget-selected-slot"></span>
    </p>
  </div>
  <div class="PlantPROWidget-content"></div>
</div>