<div class="PlantPROWidget-button-container">
  {{#each buttons}}
    <button class="PlantPROWidget-button" type="button" data-slot="{{ name }}">
      {{ displayName }}
    </button>
  {{/each}}
</div>